.box {
	background-color: #fae5d3;
	width: 500px;
	border: 15px solid #e59866;
	padding: 35px;
	margin: auto;
	display: flex;
	align-items: center;
}

body {
	background-image: url("aurel/bgimage.jpeg");

}

h1 {
	text-align: center;
	background-color: #fef5e7;
	margin-left: 90px;
	margin-right: 90px;
}

p {
	direction: ltr; 
	line-height: 20px;
	text-align: justify;
	padding: 10px;
	margin-left: 10px;
	font-family: "Courier New", monospace;
}

img {
	float: left; 
	margin-right: 10px;
	margin-left: 10px;
}

ol {
	background-color: rgba(400, 400, 400, 0.7);
	padding: 40px;
	margin-left: 180px;
	margin-right: 180px;
	margin-top: 20px;
	margin-bottom: 50px;
	border: dashed;
	padding-top: 20px;
	padding-bottom: 30px;
	display: flex;
}

span {
	background-color: #fae5d3;
}

a {
	background-color: #fae5d3;
}

i {
	background-color: #fae5d3;
}

a:visited {
	color: #f1948a; 
}
a:hover {
	color: #d35400;
}
